<?php

use PhpCsFixer\Fixer\Basic\BracesFixer;
use PhpCsFixer\Fixer\Import\OrderedImportsFixer;

$finder = PhpCsFixer\Finder::create()
    ->files()
    ->in(__DIR__ . '/src')
    ->in(__DIR__ . '/tests')
;

return PhpCsFixer\Config::create()
    ->setFinder($finder)
    ->setRules([
        '@PSR2' => true,
        'binary_operator_spaces' => true,
        'blank_line_after_opening_tag' => true,
        'braces' => [
            'allow_single_line_closure' => false,
            'position_after_anonymous_constructs' => BracesFixer::LINE_SAME,
            'position_after_control_structures' => BracesFixer::LINE_SAME,
            'position_after_functions_and_oop_constructs' => BracesFixer::LINE_NEXT,
        ],
        'concat_space' => ['spacing' => 'one'],
        'declare_equal_normalize' => [
            'space' => 'none'
        ],
        'lowercase_cast' => true,
        'new_with_braces' => true,
        'no_blank_lines_after_class_opening' => true,
        'no_extra_blank_lines' => false,
        'no_leading_import_slash' => true,
        'no_singleline_whitespace_before_semicolons' => true,
        'no_trailing_whitespace' => true,
        'no_whitespace_before_comma_in_array' => true,
        'ordered_class_elements' => [
            'order' => ['use_trait']
        ],
        'ordered_imports' => [
            'importsOrder' => [
                OrderedImportsFixer::IMPORT_TYPE_CLASS,
                OrderedImportsFixer::IMPORT_TYPE_CONST,
                OrderedImportsFixer::IMPORT_TYPE_FUNCTION,
            ]
        ],
        'return_type_declaration' => true,
        'short_scalar_cast' => true,
        'single_import_per_statement' => false,
        'space_after_semicolon' => [
            'remove_in_empty_for_expressions' => true,
        ],
        'ternary_operator_spaces' => true,
        'unary_operator_spaces' => true,
        'visibility_required' => [
            'elements' => ['const', 'method', 'property']
        ],
        'whitespace_after_comma_in_array' => true,
    ]);
